<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration >
    <context id="context1" >
        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--数据库连接的信息：驱动类、连接地址、用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/security_table?serverTimezone=UTC&amp;useSSL=true"
                        userId="root"
                        password="root" />
        <!-- 实体类 -->
        <javaModelGenerator targetPackage="chenlong.bean" targetProject="mybatis_reverse_engineering\src\main\java" />
        <!-- SQL语句 -->
        <sqlMapGenerator targetPackage="chenlong.mappers" targetProject="mybatis_reverse_engineering\src\main\java" />
        <!-- dao接口 -->
        <javaClientGenerator targetPackage="chenlong.dao" targetProject="mybatis_reverse_engineering\src\main\java" type="XMLMAPPER" />
        <table
                tableName="user"
                domainObjectName="User"
                enableCountByExample="true"
                enableDeleteByExample="true"
                enableSelectByExample="true"
                enableUpdateByExample="true"
        >
        </table>
    </context>
</generatorConfiguration>
